@media only screen and (min-width: 920px) {
  body {
    font-family: "Almarai", "Gayathri";
    background-color: rgb(27, 27, 27);
    margin: 5em;
    height: 100em;
    color: white;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 0% 5% 0% 5%;
    background-size: contain;
    background-position-x: 20%;
    background-position-y: 20%;
    width: 90%;
    height: 12vh;
  }
  nav {
    transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
  }
  nav .close {
    display: none;
  }
  ul {
    display: flex;
    list-style: none;
    gap: 3em;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #2f2f2f;
    border-radius: 0.1em;
    border-style: solid;
    border-color: #3b3b3b;
    border-width: 0.1em;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(87, 87, 87, 0.2);
    z-index: 1;
    list-style-type: none; /* Remove bullets */
    padding: 0;
    margin: 0;
  }
  /* Style the links inside the dropdown */
  .dropdown-content li a {
    color: rgb(215, 215, 215);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  /* Change color of dropdown links on hover */
  .dropdown-content li a:hover {
    background-color: #535353;
  }
  /* Show the dropdown content on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  a {
    font-size: medium;
    font-weight: 200;
    text-decoration: none;
    color: white;
  }
  .primary-cta {
    background-color: #000000;
    background-blend-mode: color-burn;
    font-size: 1rem;
    font-weight: normal;
    color: white;
    text-decoration: none;
    border-radius: 0.3em;
    border-color: white;
    border-width: 0.1em;
    border-style: solid;
    padding: 0.6em 1.6em 0.6em 1.6em;
    font-family: "Almarai";
    margin: 2em 1.2em;
    width: 5.5em;
  }
  .menu {
    display: none;
  }
  .B-Hero {
    display: flex;
  }
  .B-Hero .left-sec {
    margin-top: 8em;
    margin-right: 7em;
  }
  .B-Hero .left-sec .casestudy {
    font-size: 1em;
    font-size: medium;
    font-weight: 500;
    margin-bottom: 0.4em;
  }
  .B-Hero .left-sec .e-com {
    font-size: 4em;
    line-height: 1em;
    margin-top: 0.3em;
    font-weight: 500;
    margin-bottom: 0.2em;
  }
  .B-Hero .left-sec .H1body {
    margin-top: 0;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.4em;
  }
  .blacktext {
    background-color: rgb(27, 27, 27);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0% 5% 0% 5%;
    background-size: contain;
    background-position-x: 20%;
    background-position-y: 20%;
    width: 90%;
    height: 30vh;
    background-position-x: 20%;
    background-position-y: 20%;
    margin-top: 45em;
    color: white;
    display: flex;
    justify-content: space-between;
  }
  .blacktext .txt1 {
    margin-top: 2em;
    font-size: 0.8em;
    color: rgb(173, 173, 173);
  }
  .blacktext .txt2 {
    font-size: 0.8em;
    color: rgb(255, 255, 255);
  }
  .meetmya {
    margin-top: 14em;
    text-align: center;
  }
  .meetmya .maintxt {
    font-size: 1.4em;
    font-weight: 600;
    line-height: 0;
  }
  .meetmya .bodytxt {
    margin-right: 12em;
    margin-left: 12em;
    font-size: 1em;
    font-weight: 100;
    line-height: 1.4em;
    color: rgb(237, 237, 237);
    margin-bottom: 0;
  }
  .meetmya .image {
    align-items: center;
  }
  .expectation {
    text-align: center;
    border-radius: 1em;
    border-color: white;
    border-width: 0.1em;
    border-style: solid;
    margin: 3em 14em 6em 14em;
    padding: 0.4em 4em 0.4em 4em;
  }
  .expectation .maintxt {
    font-size: 1.4em;
  }
  .expectation .bodytxt {
    font-size: 1em;
    color: rgb(232, 232, 232);
    font-weight: lighter;
  }
  .return-refund {
    display: flex;
  }
  .return-refund .maintxt {
    margin-top: 7em;
    font-size: 1.4em;
    font-weight: 600;
    line-height: 0;
  }
  .return-refund .bodytxt {
    margin-right: 3em;
    font-size: 1em;
    font-weight: 100;
    line-height: 1.4em;
    color: rgb(237, 237, 237);
  }
  .return-refund .Perks {
    margin-top: 2em;
  }
  .return-refund .Perks .bodytxt {
    font-size: 1em;
    color: rgb(167, 167, 167);
    line-height: 0;
  }
  .return-refund .list {
    list-style-position: inside;
    display: flow-root;
    list-style: circle;
    font-size: 1em;
    font-weight: 100;
    line-height: 1.8em;
    margin-top: 0;
    color: rgb(238, 238, 238);
  }
  .tracking {
    display: flex;
    justify-content: space-between;
  }
  .tracking .left {
    width: 55%;
  }
  .tracking .maintxt {
    margin-top: 7em;
    font-size: 1.4em;
    font-weight: 600;
    line-height: 0;
  }
  .tracking .bodytxt {
    margin-right: 3em;
    font-size: 1em;
    font-weight: 100;
    line-height: 1.4em;
    color: rgb(237, 237, 237);
  }
  .tracking .Perks {
    margin-top: 2em;
  }
  .tracking .Perks .bodytxt {
    font-size: 1em;
    color: rgb(167, 167, 167);
    line-height: 0;
  }
  .tracking .list {
    list-style-position: inside;
    display: flow-root;
    list-style: circle;
    font-size: 1em;
    font-weight: 100;
    line-height: 1.8em;
    margin-top: 0;
    color: rgb(238, 238, 238);
  }
  .objective {
    text-align: center;
    border-radius: 1em;
    border-color: white;
    border-width: 0.1em;
    border-style: solid;
    margin: 4em 14em 8em 14em;
    padding: 0.4em 4em 0.4em 4em;
  }
  .objective .maintxt {
    font-size: 1.4em;
  }
  .objective .bodytxt {
    font-size: 1em;
    color: rgb(232, 232, 232);
    font-weight: lighter;
  }
  .design-process {
    margin-top: 4em;
  }
  .design-process .thead {
    font-size: 0.8em;
    line-height: 0.8em;
  }
  .design-process .header {
    font-size: 2.6em;
    margin-top: 0;
  }
  .design-process .process-cards {
    display: flex;
    justify-content: space-between;
    gap: 3em;
  }
  .design-process .maintext {
    margin-top: 2em;
    font-size: 1.2em;
    font-weight: normal;
    line-height: 0em;
  }
  .design-process .bodytxt14 {
    font-size: 0.9em;
    font-weight: lighter;
    color: rgb(225, 225, 225);
  }
  .checkout-payment {
    margin-top: 2.5em;
    display: flex;
    justify-content: space-between;
    gap: 1em;
  }
  .checkout-payment .left {
    width: 55%;
  }
  .checkout-payment .maintxt {
    margin-top: 9em;
    font-size: 1.4em;
    font-weight: 600;
    line-height: 0;
  }
  .checkout-payment .bodytxt {
    margin-right: 3em;
    font-size: 1em;
    font-weight: 100;
    line-height: 1.4em;
    color: rgb(237, 237, 237);
  }
  .checkout-payment .Perks {
    margin-top: 2em;
  }
  .checkout-payment .Perks .bodytxt {
    font-size: 1em;
    color: rgb(167, 167, 167);
    line-height: 0;
  }
  .checkout-payment .list {
    list-style-position: inside;
    display: flow-root;
    list-style: circle;
    font-size: 1em;
    font-weight: 100;
    line-height: 1.8em;
    margin-top: 0;
    color: rgb(238, 238, 238);
  }
  .competitive-analysis {
    margin-top: 1em;
    text-align: center;
  }
  .competitive-analysis .maintxt {
    font-size: 1.4em;
    font-weight: 600;
    line-height: 0;
  }
  .competitive-analysis .bodytxt {
    margin-right: 12em;
    margin-left: 12em;
    font-size: 1em;
    font-weight: 100;
    line-height: 1.4em;
    color: rgb(237, 237, 237);
    margin-bottom: 4em;
  }
  .competitive-analysis .image {
    align-items: center;
  }
  .persona {
    margin-top: 8em;
    position: absolute;
    left: 0;
  }
  .infor-archi {
    margin-top: 80em;
    text-align: center;
  }
  .infor-archi .maintxt {
    font-size: 1.4em;
    font-weight: 600;
    line-height: 0;
  }
  .infor-archi .bodytxt {
    margin-right: 12em;
    margin-left: 12em;
    font-size: 1em;
    font-weight: 100;
    line-height: 1.4em;
    color: rgb(237, 237, 237);
    margin-bottom: 3em;
  }
  .sketch {
    margin-top: 8em;
    text-align: center;
  }
  .sketch .header {
    font-size: 2.5em;
    line-height: 0em;
    margin-bottom: 0.8em;
  }
  .sketch .bodytxt {
    margin-right: 12em;
    margin-left: 12em;
    font-size: 1em;
    font-weight: 100;
    line-height: 1.4em;
    color: rgb(237, 237, 237);
    margin-bottom: 3em;
  }
  .checkout {
    text-align: center;
    margin-top: 8em;
  }
  .checkout .maintxt {
    font-size: 1.4em;
    font-weight: 600;
    line-height: 0;
  }
  .style-guide {
    background-color: 121212;
    position: absolute;
    top: 688em;
    left: 0;
    padding: 0% 5% 0% 5%;
    background-size: contain;
    background-position-x: 20%;
    background-position-y: 20%;
    width: 90%;
    height: 290vh;
    background-position-x: 20%;
    background-position-y: 20%;
    margin-top: 4.8em;
    color: rgb(255, 255, 255);
  }
  .style-guide .maintxt {
    font-size: 1.4em;
    font-weight: 600;
    line-height: 0;
  }
  .style-guide .header {
    font-size: 2.6em;
    margin-top: 1.2em;
    line-height: 2em;
  }
  .style-guide .typography {
    margin-top: 6em;
  }
  .style-guide .Icon {
    margin-top: 6em;
  }
  .style-guide .iconwrap {
    display: flex;
    gap: 2em;
  }
  .footer {
    background-color: rgb(37, 37, 37);
    position: absolute;
    top: 806em;
    left: 0;
    right: 0;
    width: 90%;
    z-index: -1;
    padding: 4% 5% 0% 5%;
    background-size: cover;
    background-position-x: 20%;
    background-position-y: 40%;
    height: 50vh;
  }
  .footer .body {
    display: flex;
    justify-content: space-between;
  }
  .footer .body .h-h1-text {
    font-size: 2.2em;
    line-height: 0em;
    margin-bottom: 1.2em;
  }
  .footer .body .mail-no {
    margin-top: 4em;
    font-size: 1em;
    font-weight: 100;
  }
  .footer .body .F-txt {
    font-size: 1em;
    font-weight: 100;
    color: rgb(214, 214, 214);
  }
  .footer .body .T-wrapper {
    font-size: 1em;
    font-weight: 400;
    margin-top: 1.5em;
    line-height: 1.2em;
  }
  .footer .body .button {
    margin-top: 1em;
  }
  .footer .body .button .F-button {
    background-color: #7F3BF3;
    background-blend-mode: color-burn;
    font-size: 1rem;
    font-weight: 300;
    font-weight: normal;
    color: white;
    text-decoration: none;
    border-radius: 0.6em;
    border-color: #4B1E97;
    border-width: 0.1em;
    border-style: solid;
    padding: 0.6em 1.4em 0.6em 1.4em;
    font-family: "Almarai";
    width: 5.5em;
  }
  .footer .foot {
    margin-top: 5em;
    text-align: center;
  }
  .footer .foot .copyright {
    font-size: 0.8em;
    color: rgb(172, 172, 172);
  }
}/*# sourceMappingURL=main.css.map */